<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>記録表の編集</title>
</head>
<body>
<form method="post" action="editrecord" accept-charset="UTF-8">
<input type="hidden" name="id" th:value="${record.id}">
<input type="hidden" name="projectid" th:value="${projectid}">
<p>工程・フェーズ</p>
<input type="text" name="phase" th:value="${record.phase}">
<p>対象</p>
<input type="text" name="target" th:value="${record.target}">
<p>状況</p>
<input type="text" name="status" th:value="${record.status}">
<div th:if="${type} eq 'new'">
<button type="submit" name="edit" value="new">新規作成</button>
</div>
<div th:if="${type} eq 'edit'">
<button type="submit" name="edit" value="modify">変更</button>
</div>
<button type="submit" name="edit" value="cancel">キャンセル</button>

</form>
</body>
</html>