<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<title>BORAJI.COM</title>
</head>
<body>
   <h1>日本語Spring MVC + Thymeleaf  Hello World example</h1>
   <p th:text="${message}"></p>
   <form action="a" method="get">
   <input name="name1"></input>
   <input type="submit" name="x" value="1"></input>
   <input type="submit" name="x" value="2"></input>
   <input type="submit" name="y" value="3"></input>
   </form>
   <form action="a" method="post">
   <input name="name2"></input>
   <input type="submit"></input>
   <a href="list">list</a>
   </form>
</body>
</html>