<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>


<title>BORAJI.COM</title>
</head>
<body>
   <h1>日本語Spring MVC + Thymeleaf  Hello World example</h1>
   <p th:text="${message}"></p>
</body>
</html>