<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>item</title>
</head>
<body>
<h1>レビュー指摘一覧画面</h1>

<form>
<button type="submit" formaction="show_projects">プロジェクト一覧に戻る</button>
<button type="submit" formaction="show_recoreds?projectid=1" th:formaction="'show_records?projectid='+${projectid}">記録表一覧に戻る</button>
<button type="submit" formaction="edit_newitem">新規作成</button>
<input type="hidden" name="projectid" th:value="${projectid}">
<input type="hidden" name="recordid" th:value="${recordid}">

<table>
 <tr>
 <tr th:each="item : ${items}">
  <td th:text="${item.id}">id</td>
  <td th:text="${item.description}">description</td>
  <td><button type="submit"  name="edit" th:value="${item.id}" formaction="edit_item">編集</button></td>

 </tr>
</table>
</form>
</body>
</html>